/*Menu apparition progressive avec un delay de 0.2s */
&Case1{
    animation-delay: 0s;
    display: block;
}
&Case2{
    animation-delay: 0.2s;
    display: block;
}
&Case3{
    animation-delay: 0.4s;
    display: block;
}
&Case4{
    animation-delay: 0.6s;
    display: block;
}
&Case5{
    animation-delay: 0.8s;
    display: block;
}
&Case6{
    animation-delay: 1s;
    display: block;
}
&Case7{
    animation-delay: 1.2s;
    display: block;
}
&Case8{
    animation-delay: 1.4s;
    display: block;
}
&Case9{
    animation-delay: 1.6s;
    display: block;
}