/*Menu apparition progressive avec un delay de 0.2s */
#delay1{
    animation-delay: 0s;
}
#delay2{
    animation-delay: 0.2s;
}
#delay3{
    animation-delay: 0.4s;
}
#delay4{
    animation-delay: 0.6s;
}
#delay5{
    animation-delay: 0.8s;
}
#delay6{
    animation-delay: 1s;
}
#delay7{
    animation-delay: 1.2s;
}
#delay8{
    animation-delay: 1.4s;
}
#delay9{
    animation-delay: 1.6s;
}
#delay10{
    animation-delay: 1.8s;
}

@keyframes apparition {
    from{
        transform: translateY(30px);
        opacity:0;
    }
    to{
        transform: translateY(0);
        opacity:1;
    }
}

@keyframes rotation {
    from{
        transform: rotate(0)
    }
    to{
        transform: rotate(360deg)
    }
}