.footer{
    background-color: #353535;
    color:white;
    padding:25px;
    &Logo{
        width:100px;
        margin-bottom:0px;
    }
    ul{
        list-style: none;
        text-decoration: none;
        padding:0;
        
        li{
            margin-bottom: 10px;       
        }
        i{
            width: 2px;
            height:2px;
            margin-right: 20px;   
            font-size: 0.9em;         
        }
        a{           
            color:white;
            text-decoration: none;
            font-size: 0.9em;  
        }
    }
}


/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
.footer{
    text-align: center;
}
  }
  
  @media screen and (min-width: 992px) {
    .footer{
        text-align: none;
        ul{
            display: flex;
            flex-direction: row;
            justify-content:center;
            li{
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 10px;
            }
        }
    }
  }