.container{
	z-index:100;
	position:fixed;
	background-color: #F6F6F6;
	opacity:0;

	display: flex;
	justify-content:center;
	align-items: center;

	animation: loadingSpinner 3s;
}

.dot{
	z-index: 101;
	background: linear-gradient(#FF79DA, #9356DC);
	height:50px;
	width:50px;
	border-radius: 50%;
	margin:15px;
	opacity: 0;
	animation: dots 1.2s 2;
}

.dot-1{
	animation-delay: 0.2s;
}
.dot-2{
	animation-delay: 0.4s;
}
.dot-3{
	animation-delay: 0.6s;
}



@keyframes loadingSpinner{
	0%, 80%{
		opacity:1;
	}
	0%, 100%{
		height:100%;
		width:100%;
	}
}

@keyframes dots{
	0%{
		transform:scale(O)
	}
	0%, 20% {
		opacity:1;
	}
	100%{
		transform:scale (1);
		opacity:0;
	}

}





/*body{
	width:100%;
	height:100%;
	background-color: white;

	.container{
		/*width:200px;
		height:200px;
		position:absolute;
		top:50%;
		left:50%;
		margin:auto;
		animation:container 3s;
		text-align: center;
		padding-top: 300px;
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: #fff;
		animation: hidebackground 6s forwards;

		@keyframes hidebackground{
			0%
				{z-index: 100}
			99%{
				z-index: 100;
				z-index: -10;
				visibility: hidden}
		}
	
	}
	
	.dot { 
		width: 70px;
		height: 70px;
		border-radius: 50%;
		position: absolute;
		margin: auto;
		animation: dot 3s;
	
	  }.dot-3 {
		background-color: #9356DC;
		animation: dot-3-move 2s ease-in-out ;
	  }
	  .dot-2 {
		background-color: #FF79DA;
		animation: dot-2-move 2s ease-in-out;
	  }
	  .dot-1 {
		background-color: #99E2D0;
		animation: dot-1-move 2s ease-in-out;
	  }
	
}

@keyframes dot-3-move {
	20% {transform: scale(1)}
	45% {transform: translateY(-18px) scale(.45)}
	60% {transform: translateY(-90px) scale(.45)}
	80% {transform: translateY(-90px) scale(.45)}
	100% {transform: translateY(0px) scale(1)}
  }
  @keyframes 
  dot-2-move {
	20% {transform: scale(1)}
	45% {transform: translate(-16px, 12px) scale(.45)}
	60% {transform: translate(-80px, 60px) scale(.45)}
	80% {transform: translate(-80px, 60px) scale(.45)}
	100% {transform: translateY(0px) scale(1)}
  }
  @keyframes dot-1-move {
	20% {transform: scale(1)}
	45% {transform: translate(16px, 12px) scale(.45)}
	60% {transform: translate(80px, 60px) scale(.45)}
	80% {transform: translate(80px, 60px) scale(.45)}
	100% {transform: translateY(0px) scale(1)}
  }
  @keyframes rotate-move {
	55% {transform: translate(-50%, -50%) rotate(0deg)}
	80% {transform: translate(-50%, -50%) rotate(360deg)}
	100% {transform: translate(-50%, -50%) rotate(360deg)}
  }
 @keyframes index {
	0%, 100% {z-index: 3}
	33.3% {z-index: 2}
	66.6% {z-index: 1}
}*/