@import "sass/libs/normalize.css";
/*COLORS*/
/*LIGHTEN*/
/*SHADOWS*/
.container {
  z-index: 100;
  position: fixed;
  background-color: #F6F6F6;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loadingSpinner 3s;
}

.dot {
  z-index: 101;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 15px;
  opacity: 0;
  animation: dots 1.2s 2;
}

.dot-1 {
  animation-delay: 0.2s;
}

.dot-2 {
  animation-delay: 0.4s;
}

.dot-3 {
  animation-delay: 0.6s;
}

@keyframes loadingSpinner {
  0%, 80% {
    opacity: 1;
  }
  0%, 100% {
    height: 100%;
    width: 100%;
  }
}
@keyframes dots {
  0% {
    transform: scale(O);
  }
  0%, 20% {
    opacity: 1;
  }
  100% {
    transform: scale 1;
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.header .logo {
  width: 200px;
  height: 50%;
}
.header i {
  position: absolute;
  left: 25px;
  bottom: 20px;
  width: 18px;
  height: 18px;
}

.header i {
  display: none;
}

.reserverMenu {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 35px;
}
.reserverMenu .mapCity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #eaeaea;
}
.reserverMenu .mapCity i {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 95px;
}
.reserverMenu .mapCityP {
  margin-left: 10px;
  font-weight: bold;
}
.reserverMenu .exploreRestaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserverMenu .exploreRestaurant h1 {
  text-align: center;
  margin: 30px 50px 10px 50px;
}
.reserverMenu .exploreRestaurant p {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 1.1em;
  color: #7e7e7e;
}
.reserverMenu .exploreRestaurant Button {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  text-align: center;
  border: none;
  padding: 17px 23px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.reserverMenu .exploreRestaurant Button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background: linear-gradient(#ff88de, #9b63df);
}

/*Fonctionnement*/
.function {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;
  /*MEDIA QUERIES*/
}
.functionStep {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  position: relative;
}
.functionStep:hover {
  background: #f5edff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.functionStep:hover .fa-mobile-alt,
.functionStep:hover .fa-list-ul,
.functionStep:hover .fa-store {
  color: #9356dc;
}
.functionStepSpan {
  width: 15px;
  height: 15px;
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  font-size: 0.8em;
  position: absolute;
  left: -14px;
}
.functionStep .fa-mobile-alt,
.functionStep .fa-list-ul,
.functionStep .fa-store {
  margin-left: 30px;
  color: #7e7e7e;
  text-align: center;
}
.functionStep p {
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .function {
    padding: 30px 150px;
  }
}
@media screen and (min-width: 992px) {
  .function {
    padding: 30px 400px;
  }
}

/*Restaurants*/
.restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
  /*MEDIA QUERIES*/
}
.restaurantsCard {
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0.2em 0.2em 0.8em rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}
.restaurantsCard:hover {
  transform: scale(1.01);
}
.restaurantsCardImg {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0 0;
}
.restaurantsCardSpan {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99e2d0;
  color: #278870;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.9em;
}
.restaurantsCardText {
  height: 75px;
  padding: 5px 0 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.restaurantsCard a {
  text-decoration: none;
}
.restaurantsCard h2 {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.restaurantsCard p {
  color: black;
  margin-top: 0px;
}
.restaurantsCard i {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  padding: 5px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 1000ms;
}
.restaurantsCard i:hover {
  -webkit-text-fill-color: none;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: transparent;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.01);
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 40px 150px;
  }
}
@media screen and (min-width: 992px) {
  .restaurants {
    padding: 40px 400px;
  }
}

/*footer*/
.footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
.footerLogo {
  width: 100px;
  margin-bottom: 0px;
}
.footer ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul i {
  width: 2px;
  height: 2px;
  margin-right: 20px;
  font-size: 0.9em;
}
.footer ul a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

/*# sourceMappingURL=style.css.map */
